<?xml version="1.0"?>
<robot>

    <!-- Disable gravity for the platform -->
    <gazebo reference="board_sup_link">
        <gravity>0</gravity>
    </gazebo>
    
    <!-- <gazebo reference="base1_link">
        <gravity>0</gravity>
    </gazebo>

    <gazebo reference="base2_link">
        <gravity>0</gravity>
    </gazebo> -->

    <!-- Add texture/colors to links -->
    <gazebo reference="board_sup_link">
        <material>PlatformPattern</material>
    </gazebo>

    <!-- <gazebo reference="board_sup_link">
        <material>Gazebo/Red</material>
    </gazebo> -->

    <gazebo reference="board_inf_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <!-- ros_control model plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/mobile_platform</robotNamespace>
        </plugin>
    </gazebo>

</robot>
