<?xml version="1.0"?>
<robot>

    <!-- Add texture/colors to links -->
    <gazebo reference="board_link">
        <material>PlatformPattern</material>
    </gazebo>

    <!-- <gazebo reference="board_link">
        <material>Gazebo/Red</material>
    </gazebo> -->


    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/mobile_platform</robotNamespace>
        </plugin>
    </gazebo>

</robot>
