<?xml version="1.0"?>
<launch>

    <arg name="init_pose"/>

    <!-- Spawn a platform into Gazebo -->
    <node name="spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model mobile_platform $(arg init_pose)"/>

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <param name="rate" value="50"/>
        <!-- <remap from="/joint_states" to="/mobile_platform/joint_states" /> -->
    </node>

    <!-- Add a frame on the upper side of the board -->
    <node name="new_board_frame" type="new_board_frame.py" pkg="platform_description"/>
</launch>