<?xml version="1.0" ?>
<launch>

    <!-- SIMPLE WORLD -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find system)/worlds/simple.world"/>
        <!-- Run Gazebo server only (without GUI) -->
        <!-- <arg name="gui" value="false"/> -->
    </include>

    <include file="$(find drone_gazebo)/launch/drone.launch" >
        <arg name="init_pose" value="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" />
    </include>
</launch>